.work{
    &-heading{
        margin:2.5rem 0;
        @include respond(phone){
            margin:2.5rem 2rem;
        }
    }
    &-paragraph{
        display: block;
        margin:0 auto;
        width:40%;
        margin-bottom: 10rem;
        @include respond(phone){
            width:60%;
            margin-bottom: 8rem;
        }
    }
    &-row{
        [class^='col-']{
            &:not(:last-child){
                margin-right: 2rem;
            }
            @include respond(tab-port){
                width:100%;
            }
        }
        @include respond(tab-land){
            padding:0 5rem;
        }
    }
    &-img{
        width:100%;
        border-radius: .8rem;
        object-fit: cover;
        &--3{
            height:60%;
            @include respond(tab-port){
                width:100%;
            }
        }
        &--4{
            @include respond(tab-port){
                width:100%;
            }
        }
        &--5{
            @include respond(tab-port){
                width:100%;
                height:56.3%;
            }
        }
        &--6{
            height:33.8%;
            @include respond(tab-port){
                width:100%;
            }
        }
    }
    &-button{
        display:flex;
        justify-content: center;
        @include respond(phone){
            margin-top: 2rem;
        }
    }
}